<!-- this template allows users to edit their comments styled with crispy form. -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit Comment{% endblock %}
{% block content %}
<div class="container">
    <h2>Edit Comment</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-warning">Save</button>
        <a href="{% url 'post-detail' comment.post.id %}" class="btn btn-warning">Cancel</a>
    </form>
</div>
{% endblock %}