{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
    <p>
        Welcome to Big Brain Idea, the home of funny stories, wild ideas, and jokes that will keep you laughing!
        This is a space to share your most ridiculous thoughts, hilarious moments, or just things that make you smile.
        Whether it's a quirky invention idea or an over-the-top joke, we're here to laugh along with you.
        Let's turn everyday nonsense into something worth sharing!
    </p>
    <img class="about-image" src="https://res.cloudinary.com/dpabrqxuy/image/upload/v1739571829/about.png" alt="About Image">
</div>
{% endblock %}